{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Add a movie</h1>
<div class="container">
    {{ form_start(form, {'attr': {'class': 'person-form'}}) }}
        {{ form_row(form.name) }}
        {{ form_row(form.synopsis) }}
        {{ form_row(form.duration) }}
        {{ form_row(form.created_at) }}
        {{ form_row(form.category) }}
        {{ form_row(form.poster) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
</div>

{% endblock %}
