{% extends 'base.html.twig' %}

{% block title %}Hello ComedianController!{% endblock %}

{% block body %}
<div class="container">
    <img src="images/{{ person.poster }}" alt="{{ person.name }}">
    <h2>{{ person.name }}{{" "}}{{ person.forename }}</h2>
    <p>{{ person.birthdate|date('d-m-Y') }}</p>
    <p>{{ person.nationality }}</p>
    <p>{{ person.gender }}</p>
</div>
{% endblock %}
